#banner {
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position: bottom; */
  /* background-color: rgba(0, 0, 0, 0.84); */
  /* background-image: url("../img/banner-reader.svg"); */
  padding: 0 0 3rem;
  margin: 0;
  background-color: #fff;
}

/* #banner .title {
  margin-top: 3rem;
  margin-bottom: 1rem;
} */

/* #banner .btn-cta {
  color: #fff;
  background-color: #72af3a;
  border-color: #72af3a;
  margin-bottom: 7rem;
} */

/* #banner .btn-cta:hover {
  color: #72af3a;
  background-color: #fff;
  border-color: #fff;
} */

/* @media (min-width: 768px) and (max-width: 991px) {
  #banner .title {
    margin-bottom: 7rem;
  }
  #banner .btn-cta {
    margin-bottom: 8rem;
  }
}

@media (min-width: 1600px) {
  #banner .title {
    margin-bottom: 9rem;
  }
  #banner .btn-cta {
    margin-bottom: 11rem;
  }
} */

#banner .navbar-brand img {
  height: 1.75rem;
  position: relative;
  bottom: 0.05rem;
}

#banner .btn-share {
  color: rgba(0,0,0,.5);
  border-color: rgba(0,0,0,.5);
}

#banner .btn-share:hover {
  color: rgba(0,0,0,.84);
  border-color: rgba(0,0,0,.84);
  background-color: rgba(0,0,0,0);
}

/* #banner .btn-cta {
  color: #00d9cd;
  border-color: #00d9cd;
} */

#banner .btn-cta:hover {
  color: #fff;
  border-color: #fff    ;
  background-color: #00d9cd;
}

#banner .img-banner {
  box-shadow: 0 50px 30px -50px rgba(0,0,0,.1), 0 20px 10px -20px rgba(0,0,0,.2)
}

#how .step-title {
  padding-left: 2rem;
  text-indent: -1.6rem;
}

#how .step-text {
  padding-left: 1.5rem;
}

#how .note {
  padding-left: 1em;
  text-indent: -0.7em;
}

#pricing .legend {
  padding: .2rem .7rem;
  font-size: 87.5%;
  color: #fff;
  border-radius: .2rem;
}

#pricing .legend-writer {
  background-color: #28a745;
}

#pricing .legend-envisionor {
  background-color: #007bff;
}

#pricing .lead {
  font-size: 2rem;
}

#join {
  padding-top: 4rem;
  padding-bottom: 3rem;
  color: #fff;
  background-color: #00d9cd;
}

#join a {
  color: #fff;
  text-decoration: underline;
}

#join a:hover {
  text-decoration: none;
}

#join .btn-cta {
  color: #00d9cd;
  background-color: #fff;
  border-color: #fff;
}

#join .btn-cta:hover {
  color: #fff;
  background-color: #00d9cd;
}

#join img {
  height: 8rem;
}
